
 /* Google font*/
 
 @import url('https://fonts.googleapis.com/css?family=Six+Caps');

 @import url('https://fonts.googleapis.com/css?family=Montserrat');


 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 body {
  font-family: 'Montserrat', 'Arial', 'sans-serif',  'serif';
  color: darkgrey;
  background-color: lightgrey; 
  line-height: 1.6;
  /* margin-left: 10rem; */
 }

.header {
  color: darkgrey;
 
}

